<?xml version="1.0" encoding="utf-8"?>
<Patch>
<!--
	<Operation Class="VFECore.PatchOperationToggableSequence">
		<enabled>False</enabled>
		<label>[Male Ratkin] 10% -> 0% Male</label>
		<operations>
			<li Class="PatchOperationReplace">
				<xpath>/Defs/AlienRace.ThingDef_AlienRace[defName="Ratkin"]/alienRace/generalSettings/maleGenderProbability</xpath>
				<value>
					<maleGenderProbability>0</maleGenderProbability>
				</value>
			</li>
		</operations>
	</Operation>
	
	<Operation Class="VFECore.PatchOperationToggableSequence">
		<enabled>False</enabled>
		<label>[Male Ratkin] 10% -> 25% Male</label>
		<operations>
			<li Class="PatchOperationReplace">
				<xpath>/Defs/AlienRace.ThingDef_AlienRace[defName="Ratkin"]/alienRace/generalSettings/maleGenderProbability</xpath>
				<value>
					<maleGenderProbability>0.25</maleGenderProbability>
				</value>
			</li>
		</operations>
	</Operation>
	
	<Operation Class="VFECore.PatchOperationToggableSequence">
		<enabled>True</enabled>
		<label>[Male Ratkin] 10% -> 50% Male</label>
		<operations>
			<li Class="PatchOperationReplace">
				<xpath>/Defs/AlienRace.ThingDef_AlienRace[defName="Ratkin"]/alienRace/generalSettings/maleGenderProbability</xpath>
				<value>
					<maleGenderProbability>0.5</maleGenderProbability>
				</value>
			</li>
		</operations>
	</Operation>
	
	<Operation Class="VFECore.PatchOperationToggableSequence">
		<enabled>False</enabled>
		<label>[Male Ratkin] 10% -> 75% Male</label>
		<operations>
			<li Class="PatchOperationReplace">
				<xpath>/Defs/AlienRace.ThingDef_AlienRace[defName="Ratkin"]/alienRace/generalSettings/maleGenderProbability</xpath>
				<value>
					<maleGenderProbability>0.75</maleGenderProbability>
				</value>
			</li>
		</operations>
	</Operation>
	
	<Operation Class="VFECore.PatchOperationToggableSequence">
		<enabled>False</enabled>
		<label>[Male Ratkin] 10% -> 100% Male</label>
		<operations>
			<li Class="PatchOperationReplace">
				<xpath>/Defs/AlienRace.ThingDef_AlienRace[defName="Ratkin"]/alienRace/generalSettings/maleGenderProbability</xpath>
				<value>
					<maleGenderProbability>1</maleGenderProbability>
				</value>
			</li>
		</operations>
	</Operation>
-->

	<Operation Class="XmlExtensions.UseSetting">
		<modId>MaleRatkin</modId>
		<key>MaleRatkinProbSlider</key>
		<defaultValue>0.5</defaultValue>
		<apply>
			<Operation Class="PatchOperationReplace">
				<xpath>/Defs/AlienRace.ThingDef_AlienRace[defName="Ratkin"]/alienRace/generalSettings/maleGenderProbability</xpath>
				<value>
					<maleGenderProbability>{MaleRatkinProbSlider}</maleGenderProbability>
				</value>
			</Operation>
		</apply>
	</Operation>

</Patch>